## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s="Hi there Sam!"
s.split(" ")

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742
print("The diameter of {planet} is {diameter} kilometers".format(planet="Earth",diameter=12742))

The diameter of Earth is 12742 kilometers

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [14]:
#Tuple cannot be muted but List can be muted.
#parenthesis Is used In Tuple square bracket Is used In List

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [17]:
def webpage(emailid):
  return emailid.split("@")[-1]

In [19]:
webpage("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [22]:
def animal(str):
  if "dog" in str.lower():
    print("True")
  else:
    print("false")

In [23]:
str="I love dog"
animal(str)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [25]:
def doggy(st):
  count=0
  for i in st.lower().split():
    if i =="dog":
      count+=1
  return count

In [26]:
st="I named my dog as dog"
doggy(st)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [27]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [28]:
caught_speeding(99,True )

'Big Ticket'

In [30]:
caught_speeding(71,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [31]:
r=[450,500,550,650,700]
total_salary=0
for i in r:
  total_salary+=i
"Total salary expenditure=",total_salary

('Total salary expenditure=', 2850)

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [34]:
d1={"Empid":40,"Empname":"loggaa","Basicpay":999999999999999999999}
d2={"DeptNmae":"Logistics","DeptId":106}
d2.update(d1)
print(d2)

{'DeptNmae': 'Logistics', 'DeptId': 106, 'Empid': 40, 'Empname': 'loggaa', 'Basicpay': 999999999999999999999}